<div class="so-tabs clearfix">
	<div class="so-tabs--head clearfix">
		<div class="so-tabs--head--item is-active clearfix">Active</div>
		<div class="so-tabs--head--item clearfix">Hover</div>
		<div class="so-tabs--head--item clearfix">Default</div>
	</div>

	<div class="so-tabs--main clearfix">
		<h3>This feels like a diary</h3>

		<p>With supporting text below as a natural lead-in to additional content.</p>
	</div>
</div>