@import '../../../../../../src/assets/scss/colors';

.btn {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 16px 30px;
	border-radius: 50px;
	display: table;
	transition: all 0.3s ease-in-out;
	
	&-disabled {
		background-color: $color-cinza-200;
	}
	
	&-primary {
		background-color: $color-verde-sofisa;
		
		&:hover, &-hover {
			background-color: $color-verde-sofisa-300;
		}
		
		&:active, &-click {
			background-color: #0A957D;
		}
	}
	
	&-info {
		background-color: $color-info;
		
		&:hover, &-hover {
			background-color: $color-info-200;
		}
		
		&:active, &-click {
			background-color: $color-info-400;
		}
	}
	
	&-success {
		background-color: $color-success;
		
		&:hover, &-hover {
			background-color: $color-success-200;
		}
		
		&:active, &-click {
			background-color: $color-success-400;
		}
	}
	
	&-error {
		background-color: $color-error;
		
		&:hover, &-hover {
			background-color: $color-error-200;
		}
		
		&:active, &-click {
			background-color: $color-error-400;
		}
	}
	
	&-alert {
		background-color: $color-alert;
		
		&:hover, &-hover {
			background-color: $color-alert-200;
		}
		
		&:active, &-click {
			background-color: $color-alert-400;
		}
	}
	
	&-outline-primary {
		color: $color-verde-sofisa;
		border: 2px solid $color-verde-sofisa;
	}
	
	&-outline-info {
		color: $color-info;
		border: 2px solid $color-info;
	}
	
	&-outline-success {
		color: $color-success;
		border: 2px solid $color-success;
	}
	
	&-outline-error {
		color: $color-error;
		border: 2px solid $color-error;
	}
	
	&-outline-alert {
		color: $color-alert;
		border: 2px solid $color-alert;
	}
	
	&-outline-disabled {
		color: #DFDFDF;
		border: 2px solid #DFDFDF;
	}
}