$color-verde-sofisa: #0CB598;
$color-laranja-sofisa: #FAB327;
$color-cinza-sofisa: #485E61;
$color-verde-sofisa-300: #0FE5C0;
$color-laranja-sofisa: #FCCA69;

$color-info: #2D4EF5;
$color-info-200: #798EF8;
$color-info-400: #1D329C;
$color-success: #4CE2A7;
$color-success-200: #9DEFCF;
$color-success-400: #31906B;
$color-error: #E24C4C;
$color-error-200: #E97C7C;
$color-error-400: #A53838;
$color-alert: #F1A153;
$color-alert-200: #F7CBA1;
$color-alert-400: #B0763D;

$color-cinza-100: #FAFAFA;
$color-cinza-200: #E5E5E5;
$color-cinza-300: #CCCCCC;
$color-cinza-400: #999999;
$color-cinza-500: #666666;
$color-cinza-600: #333333;
