<fieldset class="so-input clearfix" [ngClass]="{
	'with-params': inputConfig.validation && inputConfig.validation.type && inputConfig.validation.type.includes('with-params'),
	'without-bg': inputConfig.validation && inputConfig.validation.type && inputConfig.validation.type.includes('without-bg'),
	'error-input': inputConfig.validation && inputConfig.validation.type && inputConfig.validation.type.includes('error'),
	'warning-input': inputConfig.validation && inputConfig.validation.type && inputConfig.validation.type.includes('warning'),
	'success-input': inputConfig.validation && inputConfig.validation.type && inputConfig.validation.type.includes('success')
}">
	<label class="so-input--label">{{label}}</label>
	
	<input [type]="inputType" [value]="value" class="so-input--field" [placeholder]="placeholder" [disabled]="inputConfig.disabled" (change)="handleChange($event)" [ngClass]="{
	'is-active': inputConfig.validation && inputConfig.validation.type && inputConfig.validation.type.includes('is-active')
}"/>
	
	<div *ngIf="(inputConfig && inputConfig.params) && ( inputConfig.params.left || inputConfig.params.right)">
		<div class="so-input--param left" *ngIf="inputConfig && inputConfig.params && inputConfig.params.left">
			<span class="so-input--param--center">{{inputConfig.params.left}}</span>
		</div>
		
		<div class="so-input--param right" *ngIf="inputConfig && inputConfig.params && inputConfig.params.right">
			<span class="so-input--param--center">{{inputConfig.params.right}}</span>
		</div>
	</div>
	
	<div *ngIf="inputConfig.validation && inputConfig.validation.message">
		<div class="so-input--icon right" *ngIf="inputConfig.validation.type && inputConfig.validation.type === 'error'">
			<span class="so-input--param--center">
				<img src="assets/images/icon-close.png" alt="Fechar">
			</span>
		</div>
		
		<div class="so-input--icon right" *ngIf="inputConfig.validation.type && inputConfig.validation.type === 'warning'">
			<span class="so-input--param--center">
				<img src="assets/images/icon-alert.png" alt="Atenção">
			</span>
		</div>
		
		<div class="so-input--icon right" *ngIf="inputConfig.validation.type && inputConfig.validation.type === 'success'">
			<span class="so-input--param--center">
				<img src="assets/images/icon-success-green.png" alt="OK">
			</span>
		</div>
		
		<div class="so-input--message">{{inputConfig.validation.message}}</div>
	</div>
</fieldset>