@import '../../../../../../src/assets/scss/colors';
@import '../../scss/shadows';

.so-input {
	width: 100%;
	position: relative;
	
	&--label, &--field {
		font-size: 14px;
		color: $color-cinza-600;
	}
	
	&--label {
		display: block;
		margin-bottom: 12px;
	}
	
	&--field, &--textarea {
		width: 100%;
		border: 0;
		padding: 16px;
		background: #fff;
		@extend .so-shadow--1;
		
		&[disabled] {
			color: $color-cinza-400;
			background: #EBEBEB;
		}
	}
	
	&--textarea {
		height: 250px;
	}
	
	&--param, &--icon {
		width: 50px;
		height: 53px;
		position: absolute;
		bottom: 0;
		background: $color-cinza-200;
		
		font-size: 14px;
		color: $color-cinza-600;
		
		&.left {
			left: 0;
		}
		
		&.right {
			right: 0;
		}
		
		&--center {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	&--icon {
		background: none;
	}
	
	&--message {
		font-size: 14px;
		
		position: absolute;
		bottom: -35px;
		left: 0;
	}
}

.so-input.with-params {
	.so-input--field {
		padding-left: 70px;
		padding-right: 70px;
	}
}

.so-input.error-input, .so-input.success-input, .so-input.warning-input {
	margin-bottom: 65.3px;
}

.so-input.without-bg {
	.so-input--field[disabled] {
		border-bottom-color: #EBEBEB;
		background: none;
	}
}

.so-input.error-input {
	&.without-bg {
		.so-input--field {
			border-bottom: 2px solid $color-error;
		}
	}
	
	&.with-params {
		.so-input--param {
			color: #FF6B6B;
			border-bottom: 2px solid $color-error;
			background: #F9D3CF;
		}
	}
	
	.so-input--field {
		border-bottom: 2px solid $color-error;
	}
	
	.so-input--message {
		color: $color-error;
	}
}

.so-input.success-input {
	&.without-bg {
		.so-input--field {
			border-bottom: 2px solid $color-success;
		}
	}
	
	&.with-params {
		.so-input--param {
			color: #4CE2A7;
			border-bottom: 2px solid $color-success;
			background: #CBF3DC;
		}
	}
	
	.so-input--field {
		border-bottom: 2px solid $color-success;
	}
	
	.so-input--message {
		color: $color-success;
	}
}

.so-input.warning-input {
	&.without-bg {
		.so-input--field {
			border-bottom: 2px solid $color-alert;
		}
	}
	
	&.with-params {
		.so-input--param {
			color: #FFAA31;
			border-bottom: 2px solid $color-alert;
			background: #FCE7C4;
		}
	}
	
	.so-input--field {
		border-bottom: 2px solid $color-alert;
	}
	
	.so-input--message {
		color: $color-alert;
	}
}

.so-input.without-bg {
	.so-input {
		&--field {
			color: $color-cinza-500;
			border-bottom: 2px solid $color-cinza-500;
			box-shadow: none;
			background: none;
			
			&.is-active, &:active {
				border-bottom-color: $color-info;
			}
		}
		
		&--param {
			background: none;
		}
	}
}

.so-input.with-params.without-bg {
	.so-input--param {
		background: none !important;
	}
}