<fieldset class="so-checkbox clearfix">
	<label class="so-checkbox--label">{{label}}</label>
	
	<input type="checkbox" class="so-checkbox--input" [value]="value" [name]="name" [checked]="checked" [disabled]="disabled" (change)="handleChange($event)">
	
	<span class="so-checkbox--checkmark"></span>
</fieldset>