@import '../../../../src/assets/scss/_colors.scss';

.so-pg-dashboard--cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	
	.so-dashboard-card {
		margin-right: 24px;
	}
}

.so-dashboard-card {
	width: (303/1190)*100%;
	padding: 24px;
	border: 1px solid #E9EFF4;
	border-radius: 5px;
	background: #fff;
	
	&--title {
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 500;
		color: $color-cinza-400;
		line-height: 16px;
		margin-bottom: 25px;
	}
	
	&--count {
		width: 28px;
		height: 36px;
		overflow: hidden;
		float: left;
		
		&--number {
			font-family: 'Roboto';
			font-size: 24px;
			font-weight: 500;
			color: #208A71;
			line-height: 36px;
			display: block;
			transform: translateY(-54px);
			
			&:first-of-type {
				margin-top: 0;
			}
		}
	}
	
	&--name {
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 500;
		color: #C0C0C0;
		line-height: 1.6px;
		letter-spacing: -0.1px;
		float: left;
		margin: {
			top: 14px;
			left: 20px;
		};
	}
}