@import '../../../../../../src/assets/scss/colors';
@import '../../scss/shadows';

.so-notification {
	width: 546px;
	height: 50px;
	position: fixed;
	top: 25px;
	right: 0;
	z-index: 1000;
	background-color: #fff;
	
	@extend .so-shadow--1;
	
	&--icon i, &--message {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&--icon {
		width: 50px;
		height: 100%;
		position: relative;
		background-color: $color-info;
		
		i {
			color: #fff;
		}
	}
	
	&--message {
		width: 75%;
		display: table;
		
		font-family: 'Nunito';
		font-size: 16px;
		color: $color-info;
		line-height: 24px;
	}
	
	&--close {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		cursor: pointer;
	}
}

.so-notification {
	&--success {
		.so-notification--icon {
			background-color: $color-success;
		}
		
		.so-notification--message {
			color: $color-success;
		}
	}
	
	&--warning {
		.so-notification--icon {
			background-color: $color-alert;
		}
		
		.so-notification--message {
			color: $color-alert;
		}
	}
	
	&--error {
		.so-notification--icon {
			background-color: $color-error;
		}
		
		.so-notification--message {
			color: $color-error;
		}
	}
}