@import '../../../../../../src/assets/scss/_colors.scss';

.so-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	background: rgba(255, 255, 255, 0.8);
	
	&--content {
		display: table;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	
	span {
		font-family: 'Roboto';
		font-weight: 500;
		color: $color-cinza-600;
		text-transform: uppercase;
		text-align: center;
		display: block;
		margin-top: 20px;
	}
}