@import '../../../../../../src/assets/scss/_colors.scss';

.so-aside {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 88px;
	background: #fff;
	
	&--logout {
		position: absolute;
		bottom: 32px;
		left: 24px;
		
		&--icon, &--name {
			color: #BFC0C0;
			display: block;
			cursor: pointer;
		}
		
		&--name {
			font-family: 'Roboto';
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			
			position: absolute;
			left: 41px;
			top: 50%;
			transform: translateY(-50%);
		}
		
		&--icon {
			i {
				color: inherit;
			}
		}
	}
}

.so-nav {
	&--menu {
		list-style: none;
		padding: 0;
		margin: 0;
		
		&--item {
			&--anchor {
				padding: 16px 24px;
				display: block;
				text-decoration: none;
				
				&--icon, &--name {
					color: #BFC0C0;
					float: left;
					display: block;
				}
				
				&--icon {
					width: 20px;
					height: 20px;
					margin-right: 21px;
					
					i {
						color: inherit;
					}
				}
				
				&--name {
					font-family: 'Roboto';
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		
		&--item:hover, &--item.is-active {
			.so-nav--menu--item--anchor {
				background-color: $color-cinza-200;
				
				&--name {
					font-weight: 500;
					color: #8A8A8A;
				}
			}
		}
	}
}