<fieldset class="so-radiobox clearfix">
	<label class="so-radiobox--label">{{label}}</label>
	
	<input type="radio" class="so-radiobox--input" [value]="value" [name]="name" [checked]="checked" [disabled]="disabled" (change)="handleChange($event)">
	
	<span class="so-radiobox--checkmark"></span>
</fieldset>