<div class="so-tasklist clearfix" *ngIf="props.tasks">
	<div class="so-tasklist--head clearfix">
		<div class="so-tasklist--column clearfix">Nome</div>
		<div class="so-tasklist--column clearfix">Data de criação</div>
		<div class="so-tasklist--column clearfix">Clamado por</div>
		<div class="so-tasklist--column clearfix">Ações</div>
	</div>
	
	<div class="so-tasklist--body clearfix">
		<div class="so-tasklist--row clearfix" *ngFor="let task of props.tasks">
			<div class="so-tasklist--column clearfix">{{task.name}}</div>
			<div class="so-tasklist--column clearfix">{{task.created | date:'dd/MM/y'}}</div>
			<div class="so-tasklist--column clearfix" *ngIf="task.assignee">{{task.assignee}}</div>
			<div class="so-tasklist--column clearfix" *ngIf="!task.assignee">Ninguém</div>
			<div class="so-tasklist--column clearfix">
				<a [routerLink]="[ '/tasklist/editar', task.id ]" class="btn btn-edit">Editar</a>
			</div>
		</div>
	</div>
</div>